In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
file_path=r'H:\data analyticts\portfolio\Titanic\train.csv'
dftrain=pd.read_csv(file_path)
file_path1=r'H:\data analyticts\portfolio\Titanic\test.csv'
dftest=pd.read_csv(file_path1)

In [3]:
dftrain['FamilySize'] = dftrain['SibSp'] + dftrain['Parch'] + 1
dftrain['IsAlone'] = (dftrain['FamilySize'] == 1).astype(int)


dftest['FamilySize'] = dftest['SibSp'] + dftest['Parch'] + 1
dftest['IsAlone'] = (dftest['FamilySize'] == 1).astype(int)

In [4]:
def extract_title(name):
    return name.split(',')[1].split('.')[0].strip()


dftrain['Title'] = dftrain['Name'].apply(extract_title).replace(['Lady', 'Countess', 'Capt', 'Col', 'Don', 
                                       'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona','the Countess'], 'Rare')
dftrain['Title'] = dftrain['Title'].replace('Mlle', 'Miss')
dftrain['Title'] = dftrain['Title'].replace('Ms', 'Miss')
dftrain['Title'] = dftrain['Title'].replace('Mme', 'Mrs')


dftest['Title'] = dftest['Name'].apply(extract_title).replace(['Lady', 'Countess', 'Capt', 'Col', 'Don', 
                                       'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona','the Countess'], 'Rare')
dftest['Title'] = dftest['Title'].replace('Mlle', 'Miss')
dftest['Title'] = dftest['Title'].replace('Ms', 'Miss')
dftest['Title'] = dftest['Title'].replace('Mme', 'Mrs')

In [5]:
dftrain['Title'].value_counts()

Title
Mr        517
Miss      185
Mrs       126
Master     40
Rare       23
Name: count, dtype: int64

In [6]:
dftest.drop('Name',axis=1,inplace=True)
dftrain.drop('Name',axis=1,inplace=True)

In [7]:
dftrain['Embarked']=dftrain['Embarked'].fillna(dftrain['Embarked'].mode()[0])
dftest['Embarked']=dftest['Embarked'].fillna(dftest['Embarked'].mode()[0])

In [8]:
dftrain['Fare']=dftrain['Fare'].fillna(dftrain.groupby("Pclass")["Fare"].transform("median"))
dftest['Fare']=dftest['Fare'].fillna(dftest.groupby("Pclass")["Fare"].transform("median"))

In [9]:
dfs=[dftrain,dftest]
for df in dfs:
    df['Very Low'] = (df['Fare'] <= 4)
    df['Low'] = (df['Fare'] > 4) & (df['Fare'] <= 15)
    df['Moderate'] = (df['Fare'] > 15) & (df['Fare'] <= 25)
    df['Medium'] = (df['Fare'] > 25) & (df['Fare'] <= 50)
    df['High'] = (df['Fare'] > 50) & (df['Fare'] <= 100)
    df['Very High'] = (df['Fare'] > 100) & (df['Fare'] <= 250)
    df['Luxury'] = (df['Fare'] > 250)

In [10]:
dftrain

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,...,FamilySize,IsAlone,Title,Very Low,Low,Moderate,Medium,High,Very High,Luxury
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,...,2,0,Mr,False,True,False,False,False,False,False
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,...,2,0,Mrs,False,False,False,False,True,False,False
2,3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,...,1,1,Miss,False,True,False,False,False,False,False
3,4,1,1,female,35.0,1,0,113803,53.1000,C123,...,2,0,Mrs,False,False,False,False,True,False,False
4,5,0,3,male,35.0,0,0,373450,8.0500,NaN,...,1,1,Mr,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,male,27.0,0,0,211536,13.0000,NaN,...,1,1,Rare,False,True,False,False,False,False,False
887,888,1,1,female,19.0,0,0,112053,30.0000,B42,...,1,1,Miss,False,False,False,True,False,False,False
888,889,0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,...,4,0,Miss,False,False,True,False,False,False,False
889,890,1,1,male,26.0,0,0,111369,30.0000,C148,...,1,1,Mr,False,False,False,True,False,False,False
890,891,0,3,male,32.0,0,0,370376,7.7500,NaN,...,1,1,Mr,False,True,False,False,False,False,False

In [11]:
for dataset in dfs:
    dataset['Cabin'] =  dataset['Cabin'].str[:1]

In [12]:
dftrain['Cabin'].value_counts()

Cabin
C    59
B    47
D    33
E    32
A    15
F    13
G     4
T     1
Name: count, dtype: int64

In [13]:
cabin_mapping = {"A": 0, "B": 0.4, "C": 0.8, "D": 1.2, "E": 1.6, "F": 2, "G": 2.4, "T": 2.8}
for dataset in dfs:
    dataset['Cabin'] = dataset['Cabin'].map(cabin_mapping)

In [14]:
dftrain["Cabin"]=dftrain["Cabin"].fillna(dftrain.groupby("Pclass")["Cabin"].transform("median"))
dftest["Cabin"]=dftest["Cabin"].fillna(dftest.groupby("Pclass")["Cabin"].transform("median"))

In [15]:
sexmap={'male':0,'female':1}
dftrain['Sex']=dftrain['Sex'].map(sexmap)
dftest['Sex']=dftest['Sex'].map(sexmap)

In [16]:
dftrain['Age']=dftrain['Age'].fillna(dftrain.groupby("Title")["Age"].transform("median"))
dftest['Age']=dftest['Age'].fillna(dftest.groupby("Title")["Age"].transform("median"))

In [17]:
for df in dfs:    
    df['Baby'] = (df['Age'] <= 5)
    df['Child'] = (df['Age'] > 5) & (df['Age'] <= 14)
    df['Teenager'] = (df['Age'] > 14) & (df['Age'] <= 18)
    df['Adult'] = (df['Age'] > 18) & (df['Age'] <= 30)
    df['OldAdult'] = (df['Age'] > 30) & (df['Age'] <= 60)
    df['Old'] = (df['Age'] > 60)

In [18]:
dftrain=pd.get_dummies(dftrain,columns=['Embarked', 'Title'])
dftest=pd.get_dummies(dftest,columns=['Embarked', 'Title'])

In [19]:
dftrain

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,...,OldAdult,Old,Embarked_C,Embarked_Q,Embarked_S,Title_Master,Title_Miss,Title_Mr,Title_Mrs,Title_Rare
0,1,0,3,0,22.0,1,0,A/5 21171,7.2500,2.0,...,False,False,False,False,True,False,False,True,False,False
1,2,1,1,1,38.0,1,0,PC 17599,71.2833,0.8,...,True,False,True,False,False,False,False,False,True,False
2,3,1,3,1,26.0,0,0,STON/O2. 3101282,7.9250,2.0,...,False,False,False,False,True,False,True,False,False,False
3,4,1,1,1,35.0,1,0,113803,53.1000,0.8,...,True,False,False,False,True,False,False,False,True,False
4,5,0,3,0,35.0,0,0,373450,8.0500,2.0,...,True,False,False,False,True,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,0,27.0,0,0,211536,13.0000,1.8,...,False,False,False,False,True,False,False,False,False,True
887,888,1,1,1,19.0,0,0,112053,30.0000,0.4,...,False,False,False,False,True,False,True,False,False,False
888,889,0,3,1,21.0,1,2,W./C. 6607,23.4500,2.0,...,False,False,False,False,True,False,True,False,False,False
889,890,1,1,0,26.0,0,0,111369,30.0000,0.8,...,False,False,True,False,False,False,False,True,False,False
890,891,0,3,0,32.0,0,0,370376,7.7500,2.0,...,True,False,False,True,False,False,False,True,False,False

In [20]:
from sklearn.preprocessing import StandardScaler

numeric_features = ['Age', 'Fare', 'Parch', 'SibSp','Cabin']
scaler = StandardScaler()
dftrain[numeric_features] = scaler.fit_transform(dftrain[numeric_features])
dftest[numeric_features] = scaler.fit_transform(dftest[numeric_features])

In [21]:
features_drop = ['Ticket']
dftrain = dftrain.drop(features_drop, axis = 1)
dftest = dftest.drop(features_drop,axis=1)
dftrain = dftrain.drop(['PassengerId'], axis=1)

In [22]:
train_data = dftrain.drop('Survived', axis = 1)
target = dftrain['Survived']
train_data.shape, target.shape

((891, 30), (891,))

In [23]:
test_data=dftest.drop(['PassengerId'], axis=1)
test_data.shape

(418, 30)

In [24]:
gender_submission = pd.read_csv(r'H:\data analyticts\portfolio\Titanic\gender_submission.csv')
gender_submission.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [25]:
y_test=gender_submission.Survived
y_test.shape

(418,)

In [26]:
base_params = {
    'criterion': 'gini',
    'splitter': 'best',
    'max_depth': 10,
    'min_samples_split': 8,
    'min_samples_leaf': 1,
    'max_features': 'sqrt',
    'random_state': 0,
    'max_leaf_nodes': 84,
    'class_weight': {0: 1, 1: 1.5},
    'ccp_alpha': 4e-05
}

In [27]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV



from sklearn.ensemble import RandomForestClassifier

# Define the parameter grid for RandomForestClassifier
param_grid_rf = {
    'n_estimators': range(60, 361, 50),
    'max_features': ['sqrt', 'log2', None]
}

# Create RandomForestClassifier with the base parameters
rf_model = RandomForestClassifier(
    criterion=base_params['criterion'],
    max_depth=base_params['max_depth'],
    min_samples_split=base_params['min_samples_split'],
    min_samples_leaf=base_params['min_samples_leaf'],
    max_leaf_nodes=base_params['max_leaf_nodes'],
    class_weight=base_params['class_weight'],
    ccp_alpha=base_params['ccp_alpha'],
    random_state=1212
)

# Instantiate GridSearchCV
grid_search_rf = GridSearchCV(estimator=rf_model, param_grid=param_grid_rf, cv=5, scoring='accuracy', verbose=1, n_jobs=-1)

# Fit GridSearchCV
grid_search_rf.fit(train_data, target)

# Print the best parameters and best score
print("RandomForestClassifier Best Parameters found:")
print(grid_search_rf.best_params_)
print("RandomForestClassifier Best Accuracy Score:")
print(grid_search_rf.best_score_)

y_pred = grid_search_rf.best_estimator_.predict(test_data)
y_test
accuracy = accuracy_score(y_test, y_pred)
print(accuracy)

Fitting 5 folds for each of 21 candidates, totalling 105 fits
RandomForestClassifier Best Parameters found:
{'max_features': 'sqrt', 'n_estimators': 310}
RandomForestClassifier Best Accuracy Score:
0.8294269035214361
0.9019138755980861

In [28]:


ids = dftest['PassengerId']

PredictionDF = pd.DataFrame({'PassengerId' : ids, 'Survived' : y_pred})

PredictionDF.to_csv('final04.csv', index=False)

In [30]:
from sklearn.ensemble import ExtraTreesClassifier

In [31]:
clf4 = ExtraTreesClassifier(n_estimators=50,max_depth=10)
clf4.fit(train_data, target)
dftest
prediction = clf4.predict(test_data)
accuracy = accuracy_score(y_test, prediction)
print(accuracy)
#test_datas['Survived'] = prediction
#submission03 = pd.DataFrame({'PassengerId':dftest['PassengerId'], 'Survived':test_datas['Survived']})
#submission03.to_csv("out10.csv", index=False)

0.8947368421052632

In [32]:
from sklearn.ensemble import ExtraTreesClassifier, RandomForestClassifier, GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score

# Define classifiers and their hyperparameters
classifiers = {
    'ExtraTrees': ExtraTreesClassifier(),
    'RandomForest': RandomForestClassifier(),
    'GradientBoosting': GradientBoostingClassifier(),
    'SVC': SVC(),
    'KNeighbors': KNeighborsClassifier(),
    'LogisticRegression': LogisticRegression()
}

# Hyperparameters for tuning
param_grids = {
    'ExtraTrees': {'n_estimators': [50, 100], 'max_depth': [10, 20]},
    'RandomForest': {'n_estimators': [50, 100], 'max_depth': [10, 20]},
    'GradientBoosting': {'n_estimators': [50, 100], 'learning_rate': [0.01, 0.1]},
    'SVC': {'C': [0.1, 1, 10], 'kernel': ['linear', 'rbf']},
    'KNeighbors': {'n_neighbors': [3, 5, 7]},
    'LogisticRegression': {'C': [0.1, 1, 10]}
}

best_estimators = {}
best_scores = {}

# Perform GridSearchCV for each classifier
for clf_name, clf in classifiers.items():
    grid_search = GridSearchCV(clf, param_grids[clf_name], cv=5, scoring='accuracy')
    grid_search.fit(train_data, target)
    best_estimators[clf_name] = grid_search.best_estimator_
    best_scores[clf_name] = grid_search.best_score_

# Evaluate the best models on the test set
for clf_name, best_clf in best_estimators.items():
    prediction = best_clf.predict(test_data)
    accuracy = accuracy_score(y_test, prediction)
    print(f"{clf_name} accuracy: {accuracy:.4f}")

# Print the best scores from GridSearchCV
print("Best scores from GridSearchCV:")
for clf_name, score in best_scores.items():
    print(f"{clf_name}: {score:.4f}")

c:\Users\NIMO\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

ExtraTrees accuracy: 0.8804
RandomForest accuracy: 0.8923
GradientBoosting accuracy: 0.8756
SVC accuracy: 0.9474
KNeighbors accuracy: 0.8206
LogisticRegression accuracy: 0.9115
Best scores from GridSearchCV:
ExtraTrees: 0.8182
RandomForest: 0.8317
GradientBoosting: 0.8305
SVC: 0.8305
KNeighbors: 0.7935
LogisticRegression: 0.8137

In [33]:
# Assuming grid_search is the GridSearchCV object for SVC
best_svc = best_estimators['SVC']
best_params = best_svc.get_params()

print("Best parameters for SVC:")
for param, value in best_params.items():
    print(f"{param}: {value}")

Best parameters for SVC:
C: 1
break_ties: False
cache_size: 200
class_weight: None
coef0: 0.0
decision_function_shape: ovr
degree: 3
gamma: scale
kernel: rbf
max_iter: -1
probability: False
random_state: None
shrinking: True
tol: 0.001
verbose: False

In [34]:
print("Best SVC model:")
print(best_svc)

Best SVC model:
SVC(C=1)

In [35]:
prediction = best_svc.predict(test_data)
accuracy = accuracy_score(y_test, prediction)
print(accuracy)

0.9473684210526315

In [36]:
ids = dftest['PassengerId']

PredictionDF = pd.DataFrame({'PassengerId' : ids, 'Survived' : prediction})

PredictionDF.to_csv('final05.csv', index=False)

In [37]:
y_test

0      0
1      1
2      0
3      0
4      1
      ..
413    0
414    1
415    0
416    0
417    0
Name: Survived, Length: 418, dtype: int64

In [38]:
prediction

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1])

In [39]:
from sklearn.metrics import confusion_matrix

# Generate the confusion matrix
conf_matrix = confusion_matrix(y_test, prediction)
print("Confusion Matrix:")
print(conf_matrix)

Confusion Matrix:
[[250  16]
 [  6 146]]

In [40]:
from sklearn.metrics import precision_score, recall_score, f1_score

precision = precision_score(y_test, prediction)
recall = recall_score(y_test, prediction)
f1 = f1_score(y_test, prediction)

print(f"Precision: {precision:.4f}")
print(f"Recall: {recall:.4f}")
print(f"F1 Score: {f1:.4f}")

Precision: 0.9012
Recall: 0.9605
F1 Score: 0.9299